# Sentiment Analysis Recommendation System STC Preprocessing

## Group: U_Data

    Members:
    
    Aroob Almutairi 
    
    Abdulrahman Alosaimi
    
    Duaa Al saad 
    
    Fatimah Alateeq
    
    Ghaliah mohammedhussein

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import warnings
warnings.filterwarnings('ignore', message='not allowed')

# STC data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

In [ ]:
df=pd.read_csv('STC_IP_TV.txt')

Dataset Description:
Introduction:
Recommender systems are among the most popular applications of data science today. They are used to predict “best next action” for a customer or “rating of preference” that a user would give to items. Today, major tech company has applied them in some form or the other. For example, YouTube uses it to decide which video to play next on autoplay, Facebook uses it to recommend pages to like and people to follow, and Amazon uses it to suggest products to customers, and so on. In general, there are three ways to build a recommendation engine:
1. Popularity based recommendation engine
2. Content based recommendation engine
3. Collaborative filtering based recommendation engine
Another type of recommendation system is Hybrid model which can be created by mixing two or more types of recommendation systems. This type of recommendation systems usually gives better performance.

The IPTV dataset contains the following features and it has more than 70 million rows and the size of data is more than 1 terabyte (TB), a sample is provided here:
User ID
`SESSION START (DATE/TIME)
SESSION DURATION
PROGRAM NAME
PROGRAM DESCRIPTION
PREOGRAM GENRE
PROGRAM CLASS
SERIES TITLE
SERIES NAME
Episode title
Episode number`

In [ ]:
df.head()

,Unnamed: 0,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
0,1,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets
1,3,2017-05-21,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana
2,4,2017-08-10,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
3,5,2017-07-26,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess
4,7,2017-07-07,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill

In [ ]:
df.shape

(3598607, 13)

In [ ]:
df.describe()

,Unnamed: 0,user_id_maped,duration_seconds,season,episode,series_title,hd
count,3.598607e+06,3.598607e+06,3.598607e+06,3.598607e+06,3.598607e+06,3.598607e+06,3.598607e+06
mean,2.131563e+06,1.735909e+04,1.177636e+03,1.426785e+00,7.028602e+00,1.185486e-02,3.624603e-01
std,1.228107e+06,9.905868e+03,6.231967e+03,2.143461e+00,1.345125e+01,1.082328e-01,4.807108e-01
min,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.072510e+06,8.689000e+03,5.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.124760e+06,1.732700e+04,1.750000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,3.190420e+06,2.571400e+04,1.327000e+03,1.000000e+00,1.000000e+01,0.000000e+00,1.000000e+00
max,4.278704e+06,3.428300e+04,2.053603e+06,2.300000e+01,2.820000e+02,1.000000e+00,1.000000e+00

In [ ]:
# Selecting categorical columns
df.describe(exclude = 'number')

,date_,program_name,program_class,program_desc,program_genre,original_name
count,3598607,3598607,3598607,3554642,3598607,3598607
unique,411,8661,2,11758,16,1828
top,2017-04-28,Pingu,SERIES/EPISODES,Animation MovieThe Boss Baby (HD),Animation,PAW Patrol
freq,14194,93062,2053655,79781,1524643,118213

In [ ]:
# Check types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3598607 entries, 0 to 3598606
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   date_             object
 2   user_id_maped     int64
 3   program_name      object
 4   duration_seconds  int64
 5   program_class     object
 6   season            int64
 7   episode           int64
 8   program_desc      object
 9   program_genre     object
 10  series_title      int64
 11  hd                int64
 12  original_name     object
dtypes: int64(7), object(6)
memory usage: 356.9+ MB

In [ ]:
# Changing date type
df['date_']= pd.to_datetime(df['date_']) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3598607 entries, 0 to 3598606
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   date_             datetime64[ns]
 2   user_id_maped     int64
 3   program_name      object
 4   duration_seconds  int64
 5   program_class     object
 6   season            int64
 7   episode           int64
 8   program_desc      object
 9   program_genre     object
 10  series_title      int64
 11  hd                int64
 12  original_name     object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 356.9+ MB

In [ ]:
# Find the missing values
df.isna().sum()

Unnamed: 0              0
date_                   0
user_id_maped           0
program_name            0
duration_seconds        0
program_class           0
season                  0
episode                 0
program_desc        43965
program_genre           0
series_title            0
hd                      0
original_name           0
dtype: int64

In [ ]:
# Find the percentage of missing values
round (df.isna().sum()/df.shape[0], 2)

Unnamed: 0          0.00
date_               0.00
user_id_maped       0.00
program_name        0.00
duration_seconds    0.00
program_class       0.00
season              0.00
episode             0.00
program_desc        0.01
program_genre       0.00
series_title        0.00
hd                  0.00
original_name       0.00
dtype: float64

In [ ]:
df.sample(10)

,Unnamed: 0,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name
2323072,2745770,2017-11-27,10494,Shimmer And hine The First Wish (Part ),1093,SERIES/EPISODES,1,1,Animation MovieThe First Wish (Part 1) (HD),Animation,0,0,Shimmer And hine
2173388,2566553,2017-09-22,24088,Blackish Keeping Up With The Johnsons,662,SERIES/EPISODES,2,13,Comedy MovieKeeping Up With The Johnsons (HD),Comedy,0,0,Blackish
1225090,1452444,2017-06-24,33975,Oscar's Oasis,439,SERIES/EPISODES,1,66,"Animation MovieOscar's Oasis, Season 1, Episod...",Animation,0,0,Oscar's Oasis
1765339,2083885,2017-05-20,16646,Littlest Pet hop (T) o Interesting,1256,SERIES/EPISODES,2,12,Animation MovieSo Interesting,Animation,0,1,Littlest Pet hop (T)
1770461,2090030,2017-04-23,10057,Agents of .H.I.E.L.D. A Fractured House,74,SERIES/EPISODES,2,6,Action MovieA Fractured House (HD),Action,0,0,Agents of .H.I.E.L.D.
3226991,3827596,2017-04-12,22278,Omena Rowehet El Janna Ep8,435,SERIES/EPISODES,1,8,"Drama MovieOmena Rowehet El Janna, S01, Ep9",Drama,0,0,Omena Rowehet El Janna
543551,653340,2017-12-25,194,House No More Mr. Nice Guy,6650,SERIES/EPISODES,4,13,Drama MovieNo More Mr. Nice Guy (HD),Drama,0,0,House
645001,773292,2017-12-14,19644,The Penguins of Madagascar Operation: Plush &...,1346,SERIES/EPISODES,1,4,Animation MovieOperation: Plush & Cove (HD),Animation,0,0,The Penguins of Madagascar
2184526,2579929,2017-06-12,184,Lara Croft: Tomb Raider,36,MOVIE,0,0,Action MovieLara Croft: Tomb Raider,Action,0,0,Lara Croft: Tomb Raider
2949334,3488041,2017-03-25,32503,Doodlez,135,SERIES/EPISODES,1,1,"Animation MovieDoodlez, Season 1, Episode 2",Animation,0,0,Doodlez

In [ ]:
# This column have high counts for many accounts which could be a commercial or family accounts
df['user_id_maped'].value_counts()

23026    11944
14263    11067
11372    10020
6321      9748
25334     9520
         ...
5475         1
28013        1
19817        1
3422         1
13680        1
Name: user_id_maped, Length: 29487, dtype: int64

In [ ]:
# Droping unneeded columns
df.drop(['Unnamed: 0','program_desc','series_title'],axis=1, inplace=True)
df.dropna(inplace=True)
df.shape

(3598607, 10)

In [ ]:
# Here we could know the months and days that has the highest shows and which type it show, and we could recommend movies by holydays
df['date_'].value_counts()

2017-04-28    14194
2017-04-22    13807
2017-03-25    13788
2017-11-21    13566
2017-03-17    13511
              ...
2017-05-27     4795
2017-05-28     4316
2017-06-22     4202
2017-06-24     4162
2017-06-25     3897
Name: date_, Length: 411, dtype: int64

In [ ]:
# This column shows the subName, and we could know the best episode or the best part of the movie/series
df['program_name'].value_counts()

Pingu                                   93062
The Boss Baby                           79781
Oscar's Oasis                           45806
The Adventures of Petey and Friends     40565
Trolls                                  36656
                                        ...
Criminal Minds     The Inspired             1
Criminal Minds     Heathridge Manor         1
Criminal Minds     The Replicator           1
Harry    Ep25                               1
Al Masabeeh Al Zorrq  Ep                    1
Name: program_name, Length: 8661, dtype: int64

In [ ]:
# Here we see that people watch series more than movies
df['program_class'].value_counts()

SERIES/EPISODES    2053655
MOVIE              1544952
Name: program_class, dtype: int64

In [ ]:
# Here people are likly to not complete the long series
df['season'].value_counts()

0     1545134
1     1181752
2      202347
3      167121
7      136912
4      117600
5       91525
6       86777
8       39223
9       14176
10       9120
12       2758
11        935
21        607
22        591
18        439
23        423
19        385
20        372
13        324
15         59
14         27
Name: season, dtype: int64

In [ ]:
df['episode'].value_counts()

0      1587681
1       226398
2       128271
3       112682
4       105430
        ...
271         31
272         30
266         29
273         29
116          4
Name: episode, Length: 281, dtype: int64

In [ ]:
# Average seconds = 19.6272598 minutes
df['duration_seconds'].mean()

1177.635590382612

In [ ]:
df['program_genre'].unique()

array(['Drama', 'Animation', 'Biography', 'Action', 'Comedy', 'Horror',
       'NOT_DEFINED_IN_UMS', 'Thriller', 'Documentary', 'Crime', 'Family',
       'Romance', 'Sci-Fi', 'Adventure',
       'SERIES_NOT_ADDED_UNDER_ANY_GENRE', 'Wrestling'], dtype=object)

In [ ]:
df['hd'].value_counts()

0    2294255
1    1304352
Name: hd, dtype: int64

In [ ]:
df['original_name'].value_counts()

PAW Patrol                          118213
Friends                             114168
Pingu                                93062
The Boss Baby                        81257
Blaze And The Monster Machines       75946
                                     ...
Hemlock Grove                            1
Bab Al Hara  Eps -22                     1
Jack Reed: Death and Vengeance           1
Fargo  (T)                               1
Atlantis: The Lost Empire                1
Name: original_name, Length: 1828, dtype: int64

In [ ]:
df.drop(df[df['program_genre'] == 'SERIES_NOT_ADDED_UNDER_ANY_GENRE'].index, inplace = True)

In [ ]:
df.columns

Index(['date_', 'user_id_maped', 'program_name', 'duration_seconds',
       'program_class', 'season', 'episode', 'program_genre', 'hd',
       'original_name'],
      dtype='object')

In [ ]:
print(df.isnull().sum())
df

date_               0
user_id_maped       0
program_name        0
duration_seconds    0
program_class       0
season              0
episode             0
program_genre       0
hd                  0
original_name       0
dtype: int64

,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_genre,hd,original_name
0,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama,0,100 treets
1,2017-05-21,7946,Moana,17,MOVIE,0,0,Animation,1,Moana
2,2017-08-10,7418,The Mermaid Princess,8,MOVIE,0,0,Animation,1,The Mermaid Princess
3,2017-07-26,19307,The Mermaid Princess,76,MOVIE,0,0,Animation,1,The Mermaid Princess
4,2017-07-07,15860,Churchill,87,MOVIE,0,0,Biography,1,Churchill
...,...,...,...,...,...,...,...,...,...,...
3598602,2017-08-22,10486,Table,8,MOVIE,0,0,Comedy,1,Table
3598603,2017-08-22,10486,Newsies: the Broadway Musical,3,MOVIE,0,0,Family,1,Newsies: the Broadway Musical
3598604,2018-01-31,3674,Dragon Ball Z: Resurrection F,7,MOVIE,0,0,Animation,0,Dragon Ball Z: Resurrection F
3598605,2017-09-19,717,Table,97,MOVIE,0,0,Comedy,1,Table
3598606,2017-10-30,717,Unforgettable,95,MOVIE,0,0,Drama,1,Unforgettable

## Preprocessing

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3597769 entries, 0 to 3598606
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   date_             datetime64[ns]
 1   user_id_maped     int64
 2   program_name      object
 3   duration_seconds  int64
 4   program_class     object
 5   season            int64
 6   episode           int64
 7   program_genre     object
 8   hd                int64
 9   original_name     object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 301.9+ MB

### Striping the rows

In [ ]:
df['program_name']=df['program_name'].str.strip()
df['original_name']=df['original_name'].str.strip()

### Removing digits and (T)

In [ ]:
df['program_name']=df['program_name'].str.replace(r'Ep\d+', '', regex=True)
df['program_name']=df['program_name'].str.replace(r'\(T\)', '', regex=True)
df['original_name']=df['original_name'].str.replace(r'\(T\)', '', regex=True)

### Create a column for year and month

In [ ]:
df['year']=df['date_'].dt.year
df['month']=df['date_'].dt.month

### Changing the position of the column

In [ ]:
first_column = df.pop('month')
second_column = df.pop('year')
df.insert(1, 'month', first_column)
df.insert(2, 'year', second_column)

df

,date_,month,year,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_genre,hd,original_name
0,2017-05-27,5,2017,26138,100 treets,40,MOVIE,0,0,Drama,0,100 treets
1,2017-05-21,5,2017,7946,Moana,17,MOVIE,0,0,Animation,1,Moana
2,2017-08-10,8,2017,7418,The Mermaid Princess,8,MOVIE,0,0,Animation,1,The Mermaid Princess
3,2017-07-26,7,2017,19307,The Mermaid Princess,76,MOVIE,0,0,Animation,1,The Mermaid Princess
4,2017-07-07,7,2017,15860,Churchill,87,MOVIE,0,0,Biography,1,Churchill
...,...,...,...,...,...,...,...,...,...,...,...,...
3598602,2017-08-22,8,2017,10486,Table,8,MOVIE,0,0,Comedy,1,Table
3598603,2017-08-22,8,2017,10486,Newsies: the Broadway Musical,3,MOVIE,0,0,Family,1,Newsies: the Broadway Musical
3598604,2018-01-31,1,2018,3674,Dragon Ball Z: Resurrection F,7,MOVIE,0,0,Animation,0,Dragon Ball Z: Resurrection F
3598605,2017-09-19,9,2017,717,Table,97,MOVIE,0,0,Comedy,1,Table
3598606,2017-10-30,10,2017,717,Unforgettable,95,MOVIE,0,0,Drama,1,Unforgettable

### Create a hour and minute column

In [ ]:
df['duration_in_min']=(df['duration_seconds']/60).astype(int)
df['duration_in_hour']=(df['duration_in_min']/60).astype(int)

### Changing the position of the column

In [ ]:
first_column = df.pop('duration_in_min')
second_column = df.pop('duration_in_hour')

df.insert(6, 'duration_in_min', first_column)
df.insert(7, 'duration_in_hour', second_column)

df

,date_,month,year,user_id_maped,program_name,duration_seconds,duration_in_min,duration_in_hour,program_class,season,episode,program_genre,hd,original_name
0,2017-05-27,5,2017,26138,100 treets,40,0,0,MOVIE,0,0,Drama,0,100 treets
1,2017-05-21,5,2017,7946,Moana,17,0,0,MOVIE,0,0,Animation,1,Moana
2,2017-08-10,8,2017,7418,The Mermaid Princess,8,0,0,MOVIE,0,0,Animation,1,The Mermaid Princess
3,2017-07-26,7,2017,19307,The Mermaid Princess,76,1,0,MOVIE,0,0,Animation,1,The Mermaid Princess
4,2017-07-07,7,2017,15860,Churchill,87,1,0,MOVIE,0,0,Biography,1,Churchill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598602,2017-08-22,8,2017,10486,Table,8,0,0,MOVIE,0,0,Comedy,1,Table
3598603,2017-08-22,8,2017,10486,Newsies: the Broadway Musical,3,0,0,MOVIE,0,0,Family,1,Newsies: the Broadway Musical
3598604,2018-01-31,1,2018,3674,Dragon Ball Z: Resurrection F,7,0,0,MOVIE,0,0,Animation,0,Dragon Ball Z: Resurrection F
3598605,2017-09-19,9,2017,717,Table,97,1,0,MOVIE,0,0,Comedy,1,Table
3598606,2017-10-30,10,2017,717,Unforgettable,95,1,0,MOVIE,0,0,Drama,1,Unforgettable

### Group by to find the count of users and the duration each 

1.   List item
2.   List item

user has spent in one day

In [ ]:
df_how_many_users=pd.DataFrame(df.groupby(['date_','user_id_maped']).agg({'duration_in_hour':'sum', 
                                                                         'user_id_maped':'count'}))
df_how_many_users=df_how_many_users.rename(columns={'user_id_maped':'count'})
df_how_many_users.sort_values(by=['count'])
df_how_many_users

                          duration_in_hour  count
date_      user_id_maped
2017-03-14 15                            0      6
           56                            0     10
           77                            5      3
           88                            3     17
           100                           1      1
...                                    ...    ...
2018-04-30 34096                         0      5
           34104                         0      8
           34158                         0      2
           34190                         0     11
           34237                         0     19

[445114 rows x 2 columns]

### Create a Dataframe for each commercial and family accounts
grater than 24 hour a day it is commercial, less than or equal to 16 hours a day is family

In [ ]:
commercial_account=df_how_many_users.loc[(df_how_many_users['duration_in_hour']>24)]
family_account=df_how_many_users.loc[(df_how_many_users['duration_in_hour']<=16)]

In [ ]:
commercial_account['commercial_account']='Yes'
commercial_account

/Users/Ghaliah_Maher/opt/anaconda3/envs/DL/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                          duration_in_hour  count commercial_account
date_      user_id_maped
2017-03-14 2513                         47      3                Yes
           3828                         25      2                Yes
           5367                         29      1                Yes
           10789                        27      2                Yes
           13971                       120      1                Yes
...                                    ...    ...                ...
2018-04-29 31410                        41      2                Yes
2018-04-30 1117                         31      6                Yes
           10789                        28      1                Yes
           16046                        37      8                Yes
           23747                       103      1                Yes

[2174 rows x 3 columns]

In [ ]:
family_account['family_account']='Yes'
family_account

/Users/Ghaliah_Maher/opt/anaconda3/envs/DL/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                          duration_in_hour  count family_account
date_      user_id_maped
2017-03-14 15                            0      6            Yes
           56                            0     10            Yes
           77                            5      3            Yes
           88                            3     17            Yes
           100                           1      1            Yes
...                                    ...    ...            ...
2018-04-30 34096                         0      5            Yes
           34104                         0      8            Yes
           34158                         0      2            Yes
           34190                         0     11            Yes
           34237                         0     19            Yes

[438744 rows x 3 columns]

### Add commercial and family account to the original dataframe

In [ ]:
df['commercial_account']='None'
df['family_account']='None'

In [ ]:
df['commercial_account']=df['user_id_maped'].map(dict(zip(commercial_account.index.get_level_values('user_id_maped'),commercial_account['commercial_account'])))
df['family_account']=df['user_id_maped'].map(dict(zip(family_account.index.get_level_values('user_id_maped'), family_account['family_account'])))


df['commercial_account'].fillna('No',inplace=True)
df['family_account'].fillna('No',inplace=True)

### Some of the accounts were in both commercial and family, so we decided to give the priority for the commercial

In [ ]:
df.loc[(df['commercial_account']=='Yes')&(df['family_account']=='Yes'),'family_account']='No'
df

,date_,month,year,user_id_maped,program_name,duration_seconds,duration_in_min,duration_in_hour,program_class,season,episode,program_genre,hd,original_name,commercial_account,family_account
0,2017-05-27,5,2017,26138,100 treets,40,0,0,MOVIE,0,0,Drama,0,100 treets,No,Yes
1,2017-05-21,5,2017,7946,Moana,17,0,0,MOVIE,0,0,Animation,1,Moana,No,Yes
2,2017-08-10,8,2017,7418,The Mermaid Princess,8,0,0,MOVIE,0,0,Animation,1,The Mermaid Princess,No,Yes
3,2017-07-26,7,2017,19307,The Mermaid Princess,76,1,0,MOVIE,0,0,Animation,1,The Mermaid Princess,No,Yes
4,2017-07-07,7,2017,15860,Churchill,87,1,0,MOVIE,0,0,Biography,1,Churchill,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598602,2017-08-22,8,2017,10486,Table,8,0,0,MOVIE,0,0,Comedy,1,Table,No,Yes
3598603,2017-08-22,8,2017,10486,Newsies: the Broadway Musical,3,0,0,MOVIE,0,0,Family,1,Newsies: the Broadway Musical,No,Yes
3598604,2018-01-31,1,2018,3674,Dragon Ball Z: Resurrection F,7,0,0,MOVIE,0,0,Animation,0,Dragon Ball Z: Resurrection F,No,Yes
3598605,2017-09-19,9,2017,717,Table,97,1,0,MOVIE,0,0,Comedy,1,Table,No,Yes
3598606,2017-10-30,10,2017,717,Unforgettable,95,1,0,MOVIE,0,0,Drama,1,Unforgettable,No,Yes

### Create a dataframe to give the score to the movies and series

Movie is greater than or equal to 90 min and less than 240 min.
Series is greater than or equal to 24 min and less than 50 min.

In [ ]:
df_for_movies_series_duration=df.loc[((df['program_class']=='MOVIE')&(df['duration_in_min']>=90)
                               &(df['duration_in_min']<240))
                              
                              |
                                     ((df['program_class']=='SERIES/EPISODES')
                                &(df['duration_in_min']>=24)&(df['duration_in_min']<50))]

### Calculating the total sum of minutes in movies and series based on the genre, and assigning the results to the movie series dataframe

In [ ]:
movie_series_duration_sum={}
genra_movie_series_duration_sum=pd.DataFrame(df_for_movies_series_duration.groupby(
    ['program_class','program_genre'])['duration_in_min'].sum())
for i,n in genra_movie_series_duration_sum.iterrows():
    movie_series_duration_sum[i]=n[0]
    print(i,n[0])

('MOVIE', 'Action') 2569665
('MOVIE', 'Adventure') 4603
('MOVIE', 'Animation') 1149075
('MOVIE', 'Biography') 165328
('MOVIE', 'Comedy') 948372
('MOVIE', 'Crime') 83366
('MOVIE', 'Documentary') 22628
('MOVIE', 'Drama') 685634
('MOVIE', 'Family') 136149
('MOVIE', 'Horror') 285043
('MOVIE', 'NOT_DEFINED_IN_UMS') 16880
('MOVIE', 'Sci-Fi') 2366
('MOVIE', 'Thriller') 433870
('SERIES/EPISODES', 'Action') 2974778
('SERIES/EPISODES', 'Animation') 1572739
('SERIES/EPISODES', 'Comedy') 1033992
('SERIES/EPISODES', 'Crime') 34515
('SERIES/EPISODES', 'Documentary') 125079
('SERIES/EPISODES', 'Drama') 5037779
('SERIES/EPISODES', 'Family') 393547
('SERIES/EPISODES', 'Horror') 1324725
('SERIES/EPISODES', 'Romance') 9955
('SERIES/EPISODES', 'Sci-Fi') 60864
('SERIES/EPISODES', 'Thriller') 500771

### Taking the mean for the sum of minutes for each movie

In [ ]:
df_new= pd.DataFrame(df_for_movies_series_duration.groupby(
    ['program_class','program_genre','original_name'])['duration_in_min'].mean())
df_new['duration_in_min']=df_new['duration_in_min'].astype(int)
df_new

                                                    duration_in_min
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

[1523 rows x 1 columns]

In [ ]:
df_new['total_duration_class_genre']=0
for key,value in movie_series_duration_sum.items():
    x=df_new.index.get_level_values('program_class')+' '+df_new.index.get_level_values('program_genre')
    for i in x:        
        z=key[0]+' '+key[1]
        if z==i:
            df_new['total_duration_class_genre'].loc[x==z]=value
df_new

                                                    duration_in_min  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

                                                    total_duration_class_genre
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           2569665
                              12 Rounds                                2569665
                              12 Rounds : Reloaded                     2569665
                              2012                                     2569665
                              21 Jump treet                            2569665
...                                                                        ...
SERIES/EPISODES Thriller      Mr. Robot                                 500771
                              Penny Dreadful                            500771
                              Sons Of Anarchy                           500771
                              Sons of Anarchy                           500771
                              Wayward Pines                             500771

[1523 rows x 2 columns]

### Calculating the total mean of minutes in movies and series based on the genre, and assigning the results to the movie series dataframe

In [ ]:
movie_series_duration_mean={}
genra_movie_series_duration_mean=pd.DataFrame(df_for_movies_series_duration.groupby(
    ['program_class','program_genre'])['duration_in_min'].mean())
for i,n in genra_movie_series_duration_mean.iterrows():
    movie_series_duration_mean[i]=round(n[0],1).astype(int)
    print(i,round(n[0],1).astype(int))

('MOVIE', 'Action') 120
('MOVIE', 'Adventure') 112
('MOVIE', 'Animation') 112
('MOVIE', 'Biography') 121
('MOVIE', 'Comedy') 116
('MOVIE', 'Crime') 133
('MOVIE', 'Documentary') 122
('MOVIE', 'Drama') 122
('MOVIE', 'Family') 120
('MOVIE', 'Horror') 115
('MOVIE', 'NOT_DEFINED_IN_UMS') 110
('MOVIE', 'Sci-Fi') 107
('MOVIE', 'Thriller') 119
('SERIES/EPISODES', 'Action') 38
('SERIES/EPISODES', 'Animation') 27
('SERIES/EPISODES', 'Comedy') 31
('SERIES/EPISODES', 'Crime') 40
('SERIES/EPISODES', 'Documentary') 38
('SERIES/EPISODES', 'Drama') 38
('SERIES/EPISODES', 'Family') 25
('SERIES/EPISODES', 'Horror') 38
('SERIES/EPISODES', 'Romance') 39
('SERIES/EPISODES', 'Sci-Fi') 37
('SERIES/EPISODES', 'Thriller') 39

In [ ]:
df_new['total_duration_avg_class_genre']=0
for key,value in movie_series_duration_mean.items():
    x=df_new.index.get_level_values('program_class')+' '+df_new.index.get_level_values('program_genre')
    for i in x:        
        z=key[0]+' '+key[1]
        if z==i:
            df_new['total_duration_avg_class_genre'].loc[x==z]=value
df_new

                                                    duration_in_min  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

                                                    total_duration_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           2569665
                              12 Rounds                                2569665
                              12 Rounds : Reloaded                     2569665
                              2012                                     2569665
                              21 Jump treet                            2569665
...                                                                        ...
SERIES/EPISODES Thriller      Mr. Robot                                 500771
                              Penny Dreadful                            500771
                              Sons Of Anarchy                           500771
                              Sons of Anarchy                           500771
                              Wayward Pines                             500771

                                                    total_duration_avg_class_genre
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                                   120
                              12 Rounds                                        120
                              12 Rounds : Reloaded                             120
                              2012                                             120
                              21 Jump treet                                    120
...                                                                            ...
SERIES/EPISODES Thriller      Mr. Robot                                         39
                              Penny Dreadful                                    39
                              Sons Of Anarchy                                   39
                              Sons of Anarchy                                   39
                              Wayward Pines                                     39

[1523 rows x 3 columns]

### Calculating the count of movies and series based on the genre, and assigning the results to the movie series dataframe

In [ ]:
movie_series_count={}
genra_movie_series_count=pd.DataFrame(df_for_movies_series_duration.groupby(
    ['program_class','program_genre','original_name'])['original_name'].count())
for i,n in genra_movie_series_count.iterrows():
    movie_series_count[i]=n[0]
    print(i,n[0])

In [ ]:
df_new['movie_series_count']=0
for key,value in movie_series_count.items():
    x=df_new.index.get_level_values('program_class')+' '+df_new.index.get_level_values('program_genre')+' '+df_new.index.get_level_values('original_name')
    for i in x:        
        z=key[0]+' '+key[1]+' '+key[2]
        if z==i:
            df_new['movie_series_count'].loc[x==z]=value
df_new

                                                    duration_in_min  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

                                                    total_duration_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           2569665
                              12 Rounds                                2569665
                              12 Rounds : Reloaded                     2569665
                              2012                                     2569665
                              21 Jump treet                            2569665
...                                                                        ...
SERIES/EPISODES Thriller      Mr. Robot                                 500771
                              Penny Dreadful                            500771
                              Sons Of Anarchy                           500771
                              Sons of Anarchy                           500771
                              Wayward Pines                             500771

                                                    total_duration_avg_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                                   120
                              12 Rounds                                        120
                              12 Rounds : Reloaded                             120
                              2012                                             120
                              21 Jump treet                                    120
...                                                                            ...
SERIES/EPISODES Thriller      Mr. Robot                                         39
                              Penny Dreadful                                    39
                              Sons Of Anarchy                                   39
                              Sons of Anarchy                                   39
                              Wayward Pines                                     39

                                                    movie_series_count
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                         9
                              12 Rounds                              1
                              12 Rounds : Reloaded                   3
                              2012                                   6
                              21 Jump treet                          4
...                                                                ...
SERIES/EPISODES Thriller      Mr. Robot                           1163
                              Penny Dreadful                       386
                              Sons Of Anarchy                     1183
                              Sons of Anarchy                      146
                              Wayward Pines                       1024

[1523 rows x 4 columns]

### Calculating the total count of movies and series based on the genre, and assigning the results to the movie series dataframe

In [ ]:
movie_series_total_count={}
genra_movie_series_total_count=pd.DataFrame(df_for_movies_series_duration.groupby(
    ['program_class','program_genre'])['program_genre'].count())
for i,n in genra_movie_series_total_count.iterrows():
    movie_series_total_count[i]=n[0]
    print(i,n[0])

('MOVIE', 'Action') 21330
('MOVIE', 'Adventure') 41
('MOVIE', 'Animation') 10195
('MOVIE', 'Biography') 1358
('MOVIE', 'Comedy') 8179
('MOVIE', 'Crime') 625
('MOVIE', 'Documentary') 185
('MOVIE', 'Drama') 5583
('MOVIE', 'Family') 1128
('MOVIE', 'Horror') 2461
('MOVIE', 'NOT_DEFINED_IN_UMS') 153
('MOVIE', 'Sci-Fi') 22
('MOVIE', 'Thriller') 3647
('SERIES/EPISODES', 'Action') 76471
('SERIES/EPISODES', 'Animation') 56816
('SERIES/EPISODES', 'Comedy') 32940
('SERIES/EPISODES', 'Crime') 862
('SERIES/EPISODES', 'Documentary') 3216
('SERIES/EPISODES', 'Drama') 130823
('SERIES/EPISODES', 'Family') 15757
('SERIES/EPISODES', 'Horror') 34469
('SERIES/EPISODES', 'Romance') 255
('SERIES/EPISODES', 'Sci-Fi') 1610
('SERIES/EPISODES', 'Thriller') 12790

In [ ]:
df_new['movie_series_total_count']=0
for key,value in movie_series_total_count.items():
    x=df_new.index.get_level_values('program_class')+' '+df_new.index.get_level_values('program_genre')
    for i in x:        
        z=key[0]+' '+key[1]
        if z==i:
            df_new['movie_series_total_count'].loc[x==z]=value
df_new

                                                    duration_in_min  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

                                                    total_duration_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           2569665
                              12 Rounds                                2569665
                              12 Rounds : Reloaded                     2569665
                              2012                                     2569665
                              21 Jump treet                            2569665
...                                                                        ...
SERIES/EPISODES Thriller      Mr. Robot                                 500771
                              Penny Dreadful                            500771
                              Sons Of Anarchy                           500771
                              Sons of Anarchy                           500771
                              Wayward Pines                             500771

                                                    total_duration_avg_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                                   120
                              12 Rounds                                        120
                              12 Rounds : Reloaded                             120
                              2012                                             120
                              21 Jump treet                                    120
...                                                                            ...
SERIES/EPISODES Thriller      Mr. Robot                                         39
                              Penny Dreadful                                    39
                              Sons Of Anarchy                                   39
                              Sons of Anarchy                                   39
                              Wayward Pines                                     39

                                                    movie_series_count  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                         9
                              12 Rounds                              1
                              12 Rounds : Reloaded                   3
                              2012                                   6
                              21 Jump treet                          4
...                                                                ...
SERIES/EPISODES Thriller      Mr. Robot                           1163
                              Penny Dreadful                       386
                              Sons Of Anarchy                     1183
                              Sons of Anarchy                      146
                              Wayward Pines                       1024

                                                    movie_series_total_count
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           21330
                              12 Rounds                                21330
                              12 Rounds : Reloaded                     21330
                              2012                                     21330
                              21 Jump treet                            21330
...                                                                      ...
SERIES/EPISODES Thriller      Mr. Robot                                12790
                              Penny Dreadful                           12790
                              Sons Of Anarchy                          12790
                              Sons of Anarchy                          12790
                              Wayward Pines                            12790

[1523 rows x 5 columns]

### Calculating the score for movies and series based on genre, and assign different weights on the duration and count

The duration should take 20% weight, and calculating the score by dividing the mean duration in minutes of a movie by the total duration in minutes based on the genre, after that multiply it by the weight.
After that, sum the previous result with the result of dividing the count for each movie by the count of all movies in the same genre.
in the end, multiply the total result by 100.

In [ ]:
w_duration = 1.2
w_count = 1

df_new['score']=((w_duration*(df_new['duration_in_min']/df_new['total_duration_class_genre']))+(
    w_count*(df_new['movie_series_count']/df_new['movie_series_total_count'])))*100

### Create a new column for the score

In [ ]:
df_new['score']=df_new['score'].fillna(1)
df_new['score']=df_new['score'].replace(0,1)

### Normlizing the score based on the class wethere it is movie or series, and genre of the program

In [ ]:
df_new['normalized_score']=1
for key,value in movie_series_total_count.items():
    x=df_new.index.get_level_values('program_class')+' '+df_new.index.get_level_values('program_genre')
    for i in x:        
        z=key[0]+' '+key[1]
    
        if z==i:
            # To normalize score based on class and genre we need to have these values to create a min and max scaler
            # Getting the min score based on class and genre
            min_result=(df_new.loc[(df_new.index.get_level_values('program_class')==key[0])& (df_new.index.get_level_values('program_genre')==key[1])]['score'] ).min()
            # Getting the max score based on class and genre
            max_result=(df_new.loc[(df_new.index.get_level_values('program_class')==key[0])& (df_new.index.get_level_values('program_genre')==key[1])]['score'] ).max()
            # Multiply it by 9 to have 10 values starting from 0-9
            df_new['normalized_score'].loc[x==z]=(df_new['score']-min_result)/(max_result-min_result)*9
# Droping NaN values
df_new.dropna(inplace=True)
df_new

/Users/Ghaliah_Maher/opt/anaconda3/envs/DL/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

                                                    duration_in_min  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                    104
                              12 Rounds                         105
                              12 Rounds : Reloaded               97
                              2012                              166
                              21 Jump treet                     117
...                                                             ...
SERIES/EPISODES Thriller      Mr. Robot                          39
                              Penny Dreadful                     39
                              Sons Of Anarchy                    39
                              Sons of Anarchy                    41
                              Wayward Pines                      38

                                                    total_duration_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           2569665
                              12 Rounds                                2569665
                              12 Rounds : Reloaded                     2569665
                              2012                                     2569665
                              21 Jump treet                            2569665
...                                                                        ...
SERIES/EPISODES Thriller      Mr. Robot                                 500771
                              Penny Dreadful                            500771
                              Sons Of Anarchy                           500771
                              Sons of Anarchy                           500771
                              Wayward Pines                             500771

                                                    total_duration_avg_class_genre  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                                   120
                              12 Rounds                                        120
                              12 Rounds : Reloaded                             120
                              2012                                             120
                              21 Jump treet                                    120
...                                                                            ...
SERIES/EPISODES Thriller      Mr. Robot                                         39
                              Penny Dreadful                                    39
                              Sons Of Anarchy                                   39
                              Sons of Anarchy                                   39
                              Wayward Pines                                     39

                                                    movie_series_count  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                         9
                              12 Rounds                              1
                              12 Rounds : Reloaded                   3
                              2012                                   6
                              21 Jump treet                          4
...                                                                ...
SERIES/EPISODES Thriller      Mr. Robot                           1163
                              Penny Dreadful                       386
                              Sons Of Anarchy                     1183
                              Sons of Anarchy                      146
                              Wayward Pines                       1024

                                                    movie_series_total_count  \
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians                           21330
                              12 Rounds                                21330
                              12 Rounds : Reloaded                     21330
                              2012                                     21330
                              21 Jump treet                            21330
...                                                                      ...
SERIES/EPISODES Thriller      Mr. Robot                                12790
                              Penny Dreadful                           12790
                              Sons Of Anarchy                          12790
                              Sons of Anarchy                          12790
                              Wayward Pines                            12790

                                                       score  normalized_score
program_class   program_genre original_name
MOVIE           Action        102 Dalmatians        0.047051          0.062007
                              12 Rounds             0.009592          0.001138
                              12 Rounds : Reloaded  0.018594          0.015767
                              2012                  0.035881          0.043858
                              21 Jump treet         0.024217          0.024903
...                                                      ...               ...
SERIES/EPISODES Thriller      Mr. Robot             9.102387          2.281884
                              Penny Dreadful        3.027328          0.732038
                              Sons Of Anarchy       9.258759          2.321777
                              Sons of Anarchy       1.151342          0.253443
                              Wayward Pines         8.015361          2.004566

[1521 rows x 7 columns]

In [ ]:
# Rounding values
df_new['normalized_score']=round(df_new['normalized_score'],2).astype(int)
df_new['normalized_score'].unique()

array([0, 3, 1, 2, 9, 7, 5, 4, 6, 8])

In [ ]:
df_new['normalized_score']=df_new['normalized_score'].replace([0,1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9,10])

In [ ]:
df_new['normalized_score'].unique()

array([ 1,  4,  2,  3, 10,  8,  6,  5,  7,  9])

### Creating new columns in the original dataframe for the score and the normalized score

In [ ]:
df['score']=1
df['normalized_score']=1

df['score']=df['original_name'].map(dict(zip(df_new.index.get_level_values('original_name'), df_new['score'])))
df['normalized_score']=df['original_name'].map(dict(zip(df_new.index.get_level_values('original_name'), df_new['normalized_score'])))
# Fill NaN values 
df['score']=df['score'].fillna(1)
df['normalized_score']=df['normalized_score'].fillna(1)

df['score']=df['score'].astype(int)
df['normalized_score']=df['normalized_score'].astype(int)

df

,date_,month,year,user_id_maped,program_name,duration_seconds,duration_in_min,duration_in_hour,program_class,season,episode,program_genre,hd,original_name,commercial_account,family_account,score,normalized_score
0,2017-05-27,5,2017,26138,100 treets,40,0,0,MOVIE,0,0,Drama,0,100 treets,No,Yes,0,1
1,2017-05-21,5,2017,7946,Moana,17,0,0,MOVIE,0,0,Animation,1,Moana,No,Yes,13,8
2,2017-08-10,8,2017,7418,The Mermaid Princess,8,0,0,MOVIE,0,0,Animation,1,The Mermaid Princess,No,Yes,0,1
3,2017-07-26,7,2017,19307,The Mermaid Princess,76,1,0,MOVIE,0,0,Animation,1,The Mermaid Princess,No,Yes,0,1
4,2017-07-07,7,2017,15860,Churchill,87,1,0,MOVIE,0,0,Biography,1,Churchill,No,Yes,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598602,2017-08-22,8,2017,10486,Table,8,0,0,MOVIE,0,0,Comedy,1,Table,No,Yes,0,1
3598603,2017-08-22,8,2017,10486,Newsies: the Broadway Musical,3,0,0,MOVIE,0,0,Family,1,Newsies: the Broadway Musical,No,Yes,1,1
3598604,2018-01-31,1,2018,3674,Dragon Ball Z: Resurrection F,7,0,0,MOVIE,0,0,Animation,0,Dragon Ball Z: Resurrection F,No,Yes,1,1
3598605,2017-09-19,9,2017,717,Table,97,1,0,MOVIE,0,0,Comedy,1,Table,No,Yes,0,1
3598606,2017-10-30,10,2017,717,Unforgettable,95,1,0,MOVIE,0,0,Drama,1,Unforgettable,No,Yes,2,3

### Because these shows only occured once, so we will change the score from 1 to 10

In [ ]:
df.loc[df['original_name']=='The Affair','normalized_score']=10
df.loc[df['original_name']=='WWE Royal Rumble','normalized_score']=10

In [ ]:
# df.to_csv('clean_stc_data_set.csv', encoding='utf-8')